* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* We are using this for all pages main container */
.containerDiv{

  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  height: 100vh;
  width: 100%;
}


.Navigation {
  display: flex;
  gap: 20px;
  border: 2px solid rgb(59, 59, 59);
  padding: 10px;

}
/* ////////////////////////////////////////////////////////////////////////////// */

/* This section is for our Register page styling */

.registerDiv{
  

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  height: 100%;
  width: 50%;
  

}

.registerInput {
  width: 80%;
  height: 20px;
}


.registerBtn {
  width: 80%;
  height: 40px;
}

.category {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px 150px;
}

.product {
  margin-bottom: 50px;
}
.product img {
  width: 20%;
  height: 200px;
}
.error {
  width: 80%;
  height: 40px;
  background-color: brown;
}
/* ////////////////////////////////////////////////////////////////////////////// */

/* This section is for our Home page styling */
.homeHeader{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(59, 59, 59);
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.sectionNav{
  display: flex;
  
width: 100px;
border: 2px solid black;
justify-content: center;
height: 70%;
}

.slideshowContainer{
  width: 90%;
  border: 2px solid black;
  align-self: center;
  margin-top: 10px;
  height: 300px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* This section is for product page by id */

.img{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 40%;
}
.productHolder{
  display: flex;
  flex-direction: row;
  border: 2px solid purple;
  gap: 10%;
}
.productDes{
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.desHeader{
  display: flex;
  flex-direction: column;
  width: 10%;
  border: brown;
}
.desFooter{
  display: flex;
  flex-direction: column;
  width: 10%;
  border: white;
}

/*////////////////////////////////////////////////////////////////////////////////////// */

.comment {
  margin-top: 50px;
}