* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* This section is for our Navigation  styling */

.Navigation {
  box-shadow: 2px 2px #a8a7a791;
  background-color: #ffffff3a;
  box-shadow: 30px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.9s;
  padding-right: 60px;
}
.navBar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.Navigation-container {
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.link {
  cursor: pointer;
  text-decoration: none;
  color: rgb(51, 50, 50);
  font-weight: 900;
  font-size: 17px;
  padding: 8px 9px;
}

.link:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: goldenrod;
  padding: 8px 9px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
  font-weight: bold;
}

p {
  color: #555;
}

.Navigation ul {
  color: #4e4849;
}

.Navigation,
li:link {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.logo {
  margin-right: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  text-shadow: 2px 2px 2px rgba(99, 98, 98, 0.37);
  transition: 0.9s;
  margin-left: 40px;
}

.logo span {
  color: rgb(214, 161, 27);
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* This section is for our Register page styling */
.containerDiv {
  box-shadow: black;
  text-align: center;
  height: 500x;
  width: 50%;
  justify-content: center;
  display: grid;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.containerDiv p {
  font-size: 40px;
  margin-top: 20px;
  color: black;
  padding: 0px;
}
.registerDiv {
  padding-bottom: 40px;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  height: 100%;
  text-align: center;
  width: 70%;
}

.registerDiv button {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  margin: 20px;
  width: 50%;
  height: 30px;
  background-color: goldenrod;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

.registerDiv p {
  font-size: 10px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.registerDiv span {
  color: goldenrod;
  font-weight: bold;
  cursor: pointer;
}

.registerDiv button:hover {
  background-color: rgb(250, 195, 57);
  cursor: pointer;
}

.containerDiv img {
  border: none;
  color: white;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.registerDiv input {
  padding-left: 5px;
  margin: 5px 5px;
  width: 45%;
  height: 35px;
  border: 0.5px solid gray;
  border-radius: 3px;
}

.registerDiv select {
  padding-left: 5px;
  margin: 5px 5px;
  width: 45%;
  height: 35px;
  border: 1px solid;
  border-radius: 3px;
}
/* ////////////////////////////////////////////////////////////////////////////// */

/* This section is for our login  page styling */
.containerDivLogin {
  box-shadow: black;
  text-align: center;
  height: 450px;
  width: 30%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.containerDivLogin h1 {
  background-color: rgb(17, 118, 136);
  margin-top: 20px;
  color: white;
}
.loginDiv {
  gap: 5px;
  display: flexbox;
  justify-content: center;
  margin: auto;
  height: 100%;
  text-align: center;
  width: 70%;
}
.loginDiv p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.loginDiv span {
  color: goldenrod;
  font-weight: bold;
  cursor: pointer;
}

.loginDiv button {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 20px;
  width: 75%;
  height: 30px;
  background-color: goldenrod;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

.loginDiv button:hover {
  background-color: rgb(250, 195, 57);
  cursor: pointer;
}

.containerDivLogin img {
  border: none;
  margin: auto;
}
.registerInput {
  padding-left: 5px;
  margin: 5px 5px;
  width: 100%;
  height: 35px;
  border: 0.5px solid gray;
  border-radius: 3px;
}

.registerBtn {
  width: 30%;
  height: 30px;
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* This section is for our cart page styling */
.small-container h2 {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: goldenrod solid 4px;
  width: 9%;
  color: #0d0d0d;
}

#deleteProduct {
  width: 23px;
  height: 23px;
  box-shadow: none;
  cursor: pointer;
}

#deleteProduct:hover {
  width: 24px;
  height: 24px;
}
.counter {
  background-color: #363636;
  padding: 2px 5px;
  color: white;
  cursor: pointer;
  width: 10%;
  margin: 2px 4px;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(185, 184, 184, 0.877);
}
#quantity-counter {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 40px;
}
.cart-page {
  margin: 80px auto;
  margin: 50px 125px;
  /* text-shadow: 3px 3px 3px rgba(94, 93, 93, 0.877); */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
table {
  box-shadow: 1px 1px 1px rgba(185, 184, 184, 0.877);
  border-bottom: black;

  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px;
  width: 90%;
}
.cart-info-2 {
  display: flex;
  flex-wrap: wrap;
}
#not-found {
  text-align: center;
  margin-left: 250px;
  padding: 30px 0;
  font-weight: 200;
  font-size: 22px;
}

.cart-info p {
  font-size: 20px;
  border-bottom: 1px solid rgb(73, 72, 72);
  font-size: 25px;
  color: rgb(8, 43, 31);
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.cart-info small {
  display: flex;
}

.cart-info small img {
  box-shadow: none;
  border: none;
  width: 25px;
  height: 25px;
}
.cart-info:hover {
  box-shadow: 1px 1px 0px rgba(146, 146, 141, 0.986);
  cursor: pointer;
}
th {
  text-align: justify;
  padding: 10px 20px 5px 20px;
  color: #fff;
  background: goldenrod;
  font-weight: normal;
}
#pr {
  padding-left: 40px;
}
td {
  padding: 10px 30px;
}
td input {
  width: 50px;
  height: 30px;
  text-align: center;
}

td a {
  color: goldenrod;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(185, 184, 184, 0.877);
}
.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid goldenrod;
  width: 100%;
  max-width: 400px;
}
.total-price table small {
  margin-left: 20px;
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 5px 10px;
  box-shadow: 1px 1px 1px rgba(185, 184, 184, 0.877);
  cursor: pointer;
}

.btn-checkout {
  background-color: rgb(235, 170, 5);
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 15px;
  box-shadow: 1px 1px 1px rgba(185, 184, 184, 0.877);
  cursor: pointer;
}
.btn-checkout:hover {
  background-color: rgb(255, 183, 0);
}

td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

.product {
  border-bottom: rgb(189, 187, 187) 1px solid;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* This section is for our category page styling */

.category {
  align-items: center;
  justify-content: center;
  max-width: 1000x;
  margin-left: 110px;
  margin-right: 15px;
}

div.card {
  width: 250px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px #1b1b1b33;
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin: 30px;
  cursor: pointer;
  flex-grow: 1;
  transition: 0.9s;
}
div.card-image {
  width: 100%;
  height: 310x;
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.658);
  transition: 0.9s;
}
.nameProduct {
  text-align: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: goldenrod;
  border-radius: 5px;
}

.PriceProduct {
  text-align: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: rgb(44, 40, 40);
  border-radius: 5px;
}
div.card-image img {
  width: 100%;
  max-width: 100%;
  height: 310px;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s;
  transition: 0.9s;
}

.card-description {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 25px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
  transition: 0.9s;
}
div.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 30px -5px #0d0d0d;
}
/* .error {
  margin: auto;
  width: 80%;
  border-radius: 3px;
  background-color: rgb(194, 34, 34);
  color: white;
  text-align: center;
} */
/* ////////////////////////////////////////////////////////////////////////////// */

/* This section is for our Home page styling */
.homeHeader {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  background-color: goldenrod;
  border-radius: 5px;
}

.sectionNav {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: auto;
  cursor: pointer;
  justify-content: center;
}
.sectionNavBody {
  padding: 10px;
  width: 35%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: auto;
  cursor: pointer;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
}

/* .slide-container {
  width: 100%;
  
  align-self: center;
  margin-top: 10px;
  height: 500px;
} */

.slide-container {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.each-slide {
  height: 300px;
  width: 100%;
}

.imageSlider {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

/*start filter*/

.parantimag {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  margin: 100px 0 0 400px;
  column-gap: 10px;
}

.parantimag > div img {
  width: 200px;
  height: 200px;
}

.homebody {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}
.homefotter {
  border: 2px solid black;
  width: 100%;
  height: 150px;
  margin-top: 50px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* This section is for product page by id */

.img {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 40%;
}
.productHolder {
  display: flex;
  flex-direction: row;
  border: 2px solid purple;
  gap: 10%;
}
.productDes {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.desHeader {
  display: flex;
  flex-direction: column;
  width: 10%;
  border: brown;
}
.desFooter {
  display: flex;
  flex-direction: column;
  width: 10%;
  border: white;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  transition-duration: 10ms;
}

.slide {
  display: inline-block;
  height: 300px;
  width: 100%;
}

/* Slider Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.all-comment {
  height: 400px;
  overflow: scroll;
}

/*////////////////////////////////////////////////////////////////////////////////////// */

/* Search */
.searchS {
  display: flex;
  flex-direction: row;
  border: none;
}
.searchBtn {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 8px 7px;
  border: none;
  border-radius: 3px;
  margin: auto;
  background-color: goldenrod;
  color: white;
  width: 15%;
  height: 100%;
  justify-self: center;
  cursor: pointer;
}
.searchInput {
  border-radius: 5px;
  border: 1px solid rgb(90, 90, 90);

  margin: auto;
  padding: 0 5px;
  margin-left: 150px;
  width: 300px;
  height: 35px;
}

.searchInput:focus,
searchInput:active {
  border-color: goldenrod;
}
