.Navigation {
  display: flex;
  gap: 20px;
  border: 7px solid red;
  padding: 10px;

}


.containerDiv{
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  height: 100vh;
  width: 100%;
}

.registerDiv{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
 margin: auto;
  height: 100%;
  width: 50%;
 
}

.registerInput{
  width: 80%;
  height: 20px;
  
}

.registerBtn{

  width: 80%;
  height: 40px;
}

.error{
  width: 80%;
  height: 40px;
  background-color: brown;
}
.img{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 40%;
}
.productHolder{
  display: flex;
  flex-direction: row;
  border: 2px solid purple;
  gap: 10%;
}
.productDes{
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.desHeader{
  display: flex;
  flex-direction: column;
  width: 10%;
  border: brown;
}
.desFooter{
  display: flex;
  flex-direction: column;
  width: 10%;
  border: white;
}
