.containerDiv{
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  height: 100vh;
  width: 100%;
}

.registerDiv{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
 margin: auto;
  height: 100%;
  width: 50%;
 
}

.registerInput{
  width: 80%;
  height: 20px;
  
}

.registerBtn{

  width: 80%;
  height: 40px;
}

.error{
  width: 80%;
  height: 40px;
  background-color: brown;
}
